@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

table {

	tr {

		td {
			padding: 50px;
		}

		.cell-0-0 {
			border-right: 2px solid black;
			border-bottom: 2px solid black;
		}

		.cell-0-1 {
			border-right: 2px solid black;
			border-bottom: 2px solid black;
		}
		.cell-0-2 {
			border-bottom: 2px solid black;
		}
		.cell-1-0 {
			border-right: 2px solid black;
			border-bottom: 2px solid black;
		}

		.cell-1-1 {
			border-right: 2px solid black;
			border-bottom: 2px solid black;
		}
		.cell-1-2 {
			border-bottom: 2px solid black;
		}
		.cell-2-0 {
			border-right: 2px solid black;
		}

		.cell-2-1 {
			border-right: 2px solid black;
		}
	}
}

h1 {
	margin-bottom: 25px;
}
.x {
	display: inline-block;
	background-color: blue;
	width: 50px;
	height: 25px;
	color: white;
	font-weight: bold;
	margin-bottom: 50px;
	text-align: center;
}

.o {
	display: inline-block;
	background-color: red;
	width: 50px;
	height: 25px;
	color: white;
	font-weight: bold;
	margin-bottom: 50px;
	text-align: center;
}