doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container
        h1 Tic Tac Toe
        div.x X
        div.o O

        table.board
          tbody
            tr 
              td.cell-0-0 
              td.cell-0-1 
              td.cell-0-2 
            tr 
              td.cell-1-0 
              td.cell-1-1 
              td.cell-1-2 
            tr 
              td.cell-2-0 
              td.cell-2-1 
              td.cell-2-2 

        .scoreContainer


          
      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild